# PyCharm project file
.idea

# Python VirtualEnv
p2/

# Local Datasets + Placeholder
datasets/
!datasets/ignore_this_file.csv
models/
!models/placeholder.pkl
!models/pca_model.pkl.gz
!models/NN_BERT768.pth
!models/SVM_PCA100.pkl.gz
!models/NB_PCA100.pkl.gz